# PostgreSQL.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=payment
POSTGRES_HOST=payment_db
PGPORT=5432
# RabbitMQ.
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
# Общие настройки проекта.
app_port: int = 8000
project_name: str = 'PaymentProcessor'
app_version: str = 'v0.0.1'