# PostgreSQL.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=payment
POSTGRES_HOST=payment_db
PGPORT=5433
# RabbitMQ.
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
# Consumer
WEBHOOK_TIMEOUT=10.0
OUTBOX_POLL_INTERVAL=1.0
MAX_WEBHOOK_RETRIES=5
BASE_RETRY_DELAY=1.0
OUTBOX_BATCH_SIZE=500
BROKER_PREFETCH_COUNT=200
# Общие настройки проекта.
APP_PORT=8000
PROJECT_NAME=PaymentProcessor
APP_VERSION=v0.0.1